body{
  background-color: #d5eafc;

  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));  /*убирает сдвиг экрана при появлении прокрутки*/
}

.app-wrapper{
  /* display: flex; */
  min-height: 100%;
}

